<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booking.room.repository.HotelBookingMapper">
	<resultMap id="roomBookingResult" type="com.booking.room.entity.RoomBooking">
		<id property="id" column="id"/>
		<result property="roomNumber" column="room_number"/>
		<result property="lendFlag" column="lend_flag"/>
		<result property="userId" column="user_id"/>
		<result property="bookingId" column="booking_id"/>
	</resultMap>
	
	<resultMap id="userResult" type="com.booking.room.entity.User">
		<id property="id" column="id"></id>
		<result property="username" column="username"/>
		<result property="email" column="email"/>		
	</resultMap>
	
	<resultMap id="roomResult" type="com.booking.room.entity.Room">
		<id property="id" column="id"></id>
		<result property="roomNumber" column="room_number" />
		<result property="lendFlag" column="lend_flag" />
		<result property="createdAt" column="created_at" />
		<result property="updatedAt" column="updated_at" />
	</resultMap>
	
	<!-- Check Out Room Consistency -->
	<select id="checkOutRoom" resultType="int">
		SELECT count(*) FROM rooms, booking
		WHERE
		rooms.id=#{roomId} AND
		booking.id=#{bookingId} AND
		booking.room_id=#{roomId} AND
		booking.user_id=#{userId} AND
		booking.deleted_at IS NULL
	</select>
	
	<select id="getRoomBooking" resultMap="roomBookingResult">
		SELECT
		r.id,r.room_number,r.lend_flag,
		(SELECT bb.user_id FROM booking bb WHERE bb.id = MAX(b.id)),
		(SELECT bb.id booking_id FROM booking bb WHERE bb.id = MAX(b.id))
		FROM rooms r
		LEFT OUTER JOIN booking b
		ON r.id = b.room_id
		GROUP BY r.id,r.room_number,r.lend_flag
		ORDER BY r.id;
	</select>	
	
	<select id="getAuthUser" resultMap="userResult">
		SELECT id,username,email 
		FROM users 
		WHERE email=#{email} AND password=#{password};
	</select>
	
	<select id="getRoomByFlag" resultMap="roomResult" >
		SELECT *
		FROM rooms
		WHERE id=#{roomId} AND lend_flag=#{lendFlag}
	</select>
	
	<select id="getBookingById" resultMap="roomBookingResult" >
		SELECT *
		FROM booking
		WHERE id=#{bookingId};
	</select>
	
	<insert id="createBooking">
		INSERT INTO booking(date,room_id,user_id)
		VALUES (now(),#{roomId},#{userId})
	</insert>
	
	<insert id="createUser">
		INSERT INTO users(username,email,password)
		VALUES (#{username},#{email},#{password})
	</insert>
	
	<update id="updateRoom">
		UPDATE rooms
		SET lend_flag=#{lendFlag}
		WHERE id=#{roomId}
	</update>
	
	<update id="cancelBooking">
		UPDATE booking
		SET deleted_at=now()
		WHERE id=#{bookingId}
	</update>
	
	<select id="checkEmail" resultType="int">
		SELECT COUNT(*) FROM users
		WHERE email=#{email}
	</select>
	
</mapper>